body {
  background-color: black;
}
#newBusiness {
  background-color: #d7f8ff;
  width: 600px;
  margin-left: 22rem;
}
h2 {
  text-align: center;
  color: rgb(90, 4, 4);
  padding-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  animation: type 8s steps(60, end);
}
div {
  padding: 0.5rem;
}
label {
  padding-left: 55px;
}
input[type="text"],
[type="email"],
[type="tel"],
[type="number"],
[type="date"] {
  text-align: center;
  background: transparent;
  width: 18rem;
  height: 3rem;
  border-color: white;
  margin-left: 200px;
}
.dateClass {
  text-align: center;
  background: transparent;
  width: 18rem;
  height: 3rem;
  border-color: white;
  margin-left: 200px;
}
textarea {
  margin-left: 200px;
  background: transparent;
  border: none;
  height: 5rem;
  border: 2px solid;
  width: 18rem;
}
::placeholder {
  text-align: center;
}

th,
td {
  padding: 20px;
  background-color: white;
}
.table-data {
  padding-top: 50px;
  overflow-x: scroll;
}
#list {
  background-color: gray;
  color: black;
}
input[type="radio"] {
  margin-left: 200px;
}
input[type="checkbox"] {
  margin-left: 200px;
}
.payments {
  margin-left: 200px;
}
select[multiple] {
  background-color: gray;
  margin-left: 200px;
}
#criticalCheckBox {
  margin-left: 30px;
}
.loading {
  color: red;
  font-size: 40px;

  margin-top: 250px;
  margin-left: 39rem;
}

#submitButton {
  margin-left: 220px;
  background: #d934d9;
  background-image: -webkit-linear-gradient(top, #d934d9, #47b82b);
  background-image: -moz-linear-gradient(top, #d934d9, #47b82b);
  background-image: -ms-linear-gradient(top, #d934d9, #47b82b);
  background-image: -o-linear-gradient(top, #d934d9, #47b82b);
  background-image: linear-gradient(to bottom, #d934d9, #47b82b);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Courier New;
  color: #f0de13;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  border: solid #cb22d4 3px;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 50px;
}

#submitButton:hover {
  background: #3cfc49;
  background-image: -webkit-linear-gradient(top, #3cfc49, #d934d3);
  background-image: -moz-linear-gradient(top, #3cfc49, #d934d3);
  background-image: -ms-linear-gradient(top, #3cfc49, #d934d3);
  background-image: -o-linear-gradient(top, #3cfc49, #d934d3);
  background-image: linear-gradient(to bottom, #3cfc49, #d934d3);
  text-decoration: none;
}
